# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
DongHyukPark/Modern C++ R&D/C++17, 20/C++17, 20.vcxproj.user
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.Build.CppClean.log
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.exe.recipe
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.ilk
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.log
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.vcxproj.FileListAbsolute.txt
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/vc142.idb
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/vc142.pdb
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.tlog/C++17, 20.lastbuildstate
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.tlog/CL.command.1.tlog
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.tlog/CL.read.1.tlog
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.tlog/CL.write.1.tlog
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.tlog/link.command.1.tlog
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.tlog/link.read.1.tlog
DongHyukPark/Modern C++ R&D/C++17, 20/x64/Debug/C++17, 20.tlog/link.write.1.tlog
DongHyukPark/Modern C++ R&D/x64/Debug/C++17, 20.pdb
DongHyukPark/Modern C++ R&D/C++11, 14/C++11, 14.vcxproj.user
